<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.84.0" />
    <title>Inicio Sesion Cuidamor</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body class="text-center">
    <main class="form-signin text-center shawow-lg mn-5">
      <form id="formLogin" action="/login" method="post">
        <img class="mb-4" src="img/miama.png" alt="" width="72" height="57" />
        <h1 class="h3 mb-3 fw-normal">Inicio De Sesion</h1>

        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="user"
            name="user"
            placeholder="Ingresa tu usuario"
          />
          <label for="floatingInput">Usuario</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="passw"
            name="passw"
            placeholder="INgresa tu contrasena"
          />
          <label for="floatingPassword">los 16 NUmeros de tu tarjeta </label>
        </div>

        <button class="w-100 btn btn-lg bt-bd-primary" type="submit">
          Iniciar Sesion
        </button>
      </form>
      <br />
      <a href="/register" type="button" class="w-100 btn btn-lg bt-primary"
        >Crear Cuenta</a
      >
    </main>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if(alert) { %>
    <script>
      Swal.fire({
        title: '<% = alertTitle %>'  ,
        text: '<% = alertMessage %>' ,
        icon: '<% = alertIcon %>' ,
        showConfirmButton: <% = showConfirmButton %>,
        timer: <% = timer %>,
      }).then(() => {
        window.location = '/<%= ruta %> ';
      });
    </script>

    <% }%>
  </body>
</html>
